
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div>
    <br /><br />
    <h2>Traffic Violation Information Management with Electronic Ticketing System for Traffic Management Office-Tanauan</h2>
    <br /><br />

</div>
