
@{
    ViewBag.Title = "Login_Page";
    Layout = "~/Views/Shared/_LoginHeader.cshtml";
}

<div class="div_center">
    <h2>Login</h2>
    <form class="form-horizontal">
        <fieldset>
            <legend></legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputusername" placeholder="Enter username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputpassword" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-success">Confirm</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

