
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>


<script type="text/javascript">
    $('li a').removeClass("active");
    $('#tg-about').addClass("active");

</script>