
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Dashboard</h2>*@
<div class="dashboard_div">
    <h3>
        Welcome to Traffic Violation Information Management with Electronic Ticketing System for Traffic Management Office-Tanauan
    </h3>
    <br />
</div>
<div class="dashboardBTN_div">
    <button type="button" class="btn btn-primary btn-lg">Total Number of Violators</button>
    <button type="button" class="btn btn-primary btn-lg">Today's List</button>

</div>

<script type="text/javascript">
    $('li a').removeClass("active");
    $('#tg-dashboard').addClass("active");

</script>
