
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Dashboard</h2>*@
<div class="dashboard_div">
    <h3>
        Welcome to Traffic Violation Information Management with Electronic Ticketing System for Traffic Management Office-Tanauan
    </h3>
    <br />
</div>
<div class="dashboardBTN_div">
    <button type="button" class="btn btn-primary btn-lg" onclick="get_total();">Total Number of Violators</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="get_total_today();">Today's List</button>
</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="div_modal_body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('li a').removeClass("active");
    $('#tg-dashboard').addClass("active");

    function get_total() {
        $("#myModal_reload").modal("show");
        $.ajax({
            type: "POST",
            url: "/Systems/get_total",
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);
                $("#myModalLabel").html("Total Number of Violators");
                //alert(data);
                $("#div_modal_body").html('<h4>' + data + '</h4>');
                $("#myModal_reload").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (textStatus, errorThrown) {
                // Success = false;//doesn't go here
                gritter("Error", "Error processing the request.");
            }
        });
    }
    function get_total_today() {
        $("#myModal_reload").modal("show");
        $.ajax({
            type: "POST",
            url: "/Systems/get_total_today",
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);
                $("#myModalLabel").html("Number of Violators Today");
                //alert(data);
                $("#div_modal_body").html('<h4>' + data + '</h4>');
                $("#myModal_reload").modal("hide");
                $("#myModal").modal("show");
            },
            error: function (textStatus, errorThrown) {
                // Success = false;//doesn't go here
                gritter("Error", "Error processing the request.");
            }
        });
    }
</script>
