
@{
    ViewBag.Title = "Impounded Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Impounded Vehicles </h4>

            <div id="div_filter" class="alert ">
                @* FILTER TYPE *@
                <div id="div_filtertype" style="margin:5px">
                    <label> Filter Type: </label>
                    <select class="form-control" name="filtertype" id="select_filtertype" style="width:200px" onchange="onfiltertype_change()">
                        <option value=""> -- Select Type -- </option>
                        <option value="dateRange">Date range</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                    </select>
                </div>
                @* DATE RANGE *@
                <div id="div_dateRange" style="margin:5px; display:none" class="filters">
                    <label> Date From: </label>
                    <input type="date" id="input_daterangefrom" class="form-control" style="width:150px" />
                    <label> Date To: </label>
                    <input type="date" id="input_daterangeto" class="form-control" style="width:150px" />
                </div>

                @* WEEK *@
                <div id="div_week" style="margin: 5px; display: none" class="filters">
                    <label> Week: </label>
                    <select class="form-control" name="week" id="select_week" style="width:220px">
                        <option value=""> -- Select Week -- </option>
                    </select>
                </div>

                @* MONTH *@

                <div id="div_month" style="margin: 5px; display: none" class="filters">
                    <label> Month: </label>
                    <select class="form-control" name="month" id="select_month" style="width:220px">
                        <option value=""> -- Select Month -- </option>
                    </select>
                </div>

                @* YEAR *@

                <div id="div_year" style="margin: 5px; display: none" class="filters">
                    <label> Year: </label>
                    <select class="form-control" name="year" id="select_year" style="width:220px">
                        <option value=""> -- Select Year -- </option>
                    </select>
                </div>

                <div>
                    <button type="button" class="btn btn-default" onclick="filterOnclick()">Filter</button>
                </div>

            </div>


            <div id="toolbar" style="display:none">
                <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
                </select>
            </div>

            <section id="no-more-tables">
                @* table will be inserted here *@
            </section>
        </div>
    </div>
</div>
<div class="modal fade " id="myModal_clear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to clear this record?</h4>
                <input id="input_rowid" style="display:none" />
            </div>
            <div class="modal-body">
                <form class="form-horizontal style-form">
                    <input typw="text" id="input_id" style="display:none" />
                    <div class="form-group">
                        <table style="margin:auto" id="tbl_clear">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="ClearRecord()">Yes</button>

            </div>
        </div>
    </div>
</div>

@* Delete modal *@
<div class="modal fade " id="myModal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this record?</h4>
                <input id="input_rowid" style="display:none" />
            </div>
            <div class="modal-body">
                <form class="form-horizontal style-form">
                    <input typw="text" id="input_id" style="display:none" />
                    <div class="form-group">
                        <table style="margin:auto" id="tbl_delete">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="proceeddelete()">Yes</button>

            </div>
        </div>
    </div>
</div>

@* Edit modal *@

<div class="modal fade " id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Record</h4>
                <input id="input_editid" style="display:none" />
            </div>
            <div class="modal-body">
                @*<form class="form-horizontal style-form">
                        <input typw="text" id="input_id" style="display:none" />
                        <div class="form-group">
                            <table style="margin:auto" id="tbl_clear">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </form>*@

                <table class="table  table-condensed c" id="tbl_apprehention">
                    <tbody>
                        <tr>
                            <td style="text-align:center;" colspan="3">Last Name</td>
                            <td style="text-align:center;" colspan="2">First Name</td>
                            <td style="text-align:center;">MI</td>
                        </tr>
                        <tr>
                            <td colspan="3"><input type="text" class="form-control" id="input_lname"></td>
                            <td colspan="2"><input type="text" class="form-control" id="input_fname"></td>
                            <td><input type="text" class="form-control" id="input_mi" size="1" maxlength="1"></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <h5>Vehicle Type</h5>
                                <input type="text" class="form-control" id="input_vehicle">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <h5>Date of Apprehension</h5>
                                <input type="date" class="form-control" id="input_dateofapprehension">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1"><h5>Plate No.</h5></td>
                            <td colspan="5"><input type="text" class="form-control" id="input_plateno"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><h5>Violation</h5></td>
                            <td colspan="3">
                                <select class="form-control" name="select_Violation" id="select_Violation">
                                    <option selected="selected">Please select</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveEdit()">Save</button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('li a').removeClass("active");
    $('#tg-impounded').addClass("active");

    $(document).ready(function () {
        updateGrid();
        monthlydropdown();
        weeklydropdown();
        yearlydropdown()
        //$("#myModal_reload").modal("hide"); // remove when API is working

        // get violation drop down
        $.ajax({
            type: "POST",
            url: "/Systems/get_violation",
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);

                $("#select_Violation").html('<option selected="selected">Please select</option>');
                var Json_Data = JSON.parse(data);
                //console.log(Json_Data);
                for (var i = 0; i < Json_Data.length; i++) {
                    $("#select_Violation").append("<option value='" + Json_Data[i]["vid"] + "'>" + Json_Data[i]["vdesc"] + "</option>")
                }
            },
            error: function (textStatus, errorThrown) {
                // Success = false;//doesn't go here
                gritter("Error", "Error processing the request.");
            }
        });
    });

    function updateGrid() {
        $("#myModal_reload").modal({ backdrop: 'static', keyboard: false }, 'show');
        document.getElementById("no-more-tables").innerHTML = `
                <table class="table table-bordered table-striped table-condensed cf" id="tbl_Impounded"   data-toggle="table" data-search="true" data-filter-control="true" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                    <thead class="cf">
                        <tr>
                            <th>Name</th>
                            <th>Violation</th>
                            <th>Plate No.</th>
                            <th>Vehicle Type</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>`;

        $.ajax({
            type: "POST",
            url: "/Systems/prop_get_confiscated_license",
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);

                var Json_Data = JSON.parse(data);

                if ($("#select_filtertype").val() != "") {
                    //filter by date range
                    if ($("#select_filtertype").val() == "dateRange") {
                        var startDate = new Date($("#input_daterangefrom").val());
                        var endDate = new Date($("#input_daterangeto").val());

                        Json_Data = Json_Data.filter(a => {
                            var date = new Date(a.dateofapprehension);
                            return (date >= startDate && date <= endDate);
                        });

                    }

                    //filter by week
                    if ($("#select_filtertype").val() == "week") {
                        const week = $("#select_week").val().split(' - ');
                        var startDate = new Date(week[0]);
                        var endDate = new Date(week[1]);

                        Json_Data = Json_Data.filter(a => {
                            var date = new Date(a.dateofapprehension);
                            return (date >= startDate && date <= endDate);
                        });
                    }

                    //filter by month
                    if ($("#select_filtertype").val() == "month") {
                        var selectedMonth = new Date($("#select_month").val()).getMonth();

                        Json_Data = Json_Data.filter(a => {
                            var date = new Date(a.dateofapprehension).getMonth();
                            return (date == selectedMonth);
                        });
                    }

                    //filter by year
                    if ($("#select_filtertype").val() == "year") {
                        var selectedYear = new Date($("#select_year").val()).getFullYear();

                        Json_Data = Json_Data.filter(a => {
                            var date = new Date(a.dateofapprehension).getFullYear();
                            return (date == selectedYear);
                        });
                    }

                }

                for (var i = 0; i < Json_Data.length; i++) {
                    if (Json_Data[i]["violation"] == "DRIVING WITHOUT DRIVER'S LICENSE" && Json_Data[i]["isSettled"] != 1) {
                        var Row = `<tr id="` + Json_Data[i]["tid"] + `"><td class="Name" data-title="Name">` + Json_Data[i]["fname"] + `</td>
                                <td class="Violation" data-title="Violation">`+ Json_Data[i]["violation"] + `<span class="vid" style="display:none">` + Json_Data[i]["vid"] + `</span></td>
                                <td class="PlateNumber" data-title="PlateNumber">`+ Json_Data[i]["plateno"] + `</td>
                                <td class="VehicleType" data-title="VehicleType">`+ Json_Data[i]["vehicletype"] + `</td>
                                <td class="DateOfApprehension" data-title="DateOfApprehension">`+ Json_Data[i]["dateofapprehension"].split('T')[0] + `</td>
                                <td>`+ Json_Data[i]["PendingStatus"] + `</td>
                                <td class="Action" data-title="Action">
                                    <button type="button" class="btn btn-round btn-info btn-sm" onclick="ClearBtnOnclick(this)"><i class="fa fa-check-square-o"></i> Clear</button>
                                    <button type="button" class="btn btn-round btn-danger btn-sm" onclick="btn_delete(this)"><i class="fa fa-trash-o"></i> Delete</button>
                                    <button type="button" class="btn btn-round btn-primary btn-sm" onclick="openModalEdit(this)"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                </td>`;
                        $('#tbl_Impounded tbody').append(Row);
                    }
                }

                $("tr.no-records-found").remove();

                $("div.fixed-table-loading").css("display", "none");
                $("div.fixed-table-toolbar div.search").css("display", "none");
                $("div.fixed-table-toolbar div.export").css("z-index", "9");
                $("ul.dropdown-menu").css("transform", "translateX(-110px)");

                $('#tbl_Impounded').DataTable({
                    order: [[4, 'desc']],
                    dom: 'Bfrtip',
                    buttons: [
                        /*'print'*/
                        {
                            extend: 'print',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5]
                            },
                            customize: function (win) {
                                $(win.document.body)
                                    .css('font-size', '10pt')
                                    .prepend(

                                        `
                                        <div style="display: block;">
                                          <div style="display: inline-block; margin-top: 10px;">
                                            <img
                                              style="height: 50px; width: 50px;"
                                              src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.15752-9/322628956_573845621265241_3926649235592693608_n.jpg?stp=dst-jpg_p403x403&_nc_cat=107&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeGadpblaAu9cjDOR3KjSACeztMYxnbdvSvO0xjGdt29K0u3thXs8z8Oq5Jp7uP-YJhiuvH-CTM_7WhY8g0lWlcf&_nc_ohc=UFgADUqW7CoAX8pf3_A&_nc_ht=scontent.fmnl3-1.fna&oh=03_AdTHx354b9EfcEMjPADqSmvTylkdWqHuJoWTEWpPDo-ICQ&oe=63ED6CC9"
                                            />
                                          </div>
                                          <div style="display: inline-block; transform: translateY(12px);">
                                            <span style="font-size: 38px; height: 50px;">
                                              <b>Tanauan City Traffic Management</b>
                                            </span>
                                          </div>
                                        </div>
                                        `
                                    );

                                $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                            }
                        }
                    ],
                });
                $("#myModal_reload").modal("hide");

            },
            error: function (textStatus, errorThrown) {
                // Success = false;//doesn't go here
                gritter("Error", "Error processing the request.");
            }
        });
    }
    function openModalEdit(btn) {
        var target_row = $(btn).closest('tr');
        var rowid = target_row.attr('id'),
            rowname = target_row.find('td.Name').text(),
            rowviolation = target_row.find('td span.vid').text(),
            rowplatenumber = target_row.find('td.PlateNumber').text(),
            rowvehicle = target_row.find('td.VehicleType').text(),
            rowdateofapprehension = target_row.find('td.DateOfApprehension').text();

        $("#input_editid").val(rowid);
        $("#input_lname").val(rowname.split(' ')[2]);
        $("#input_fname").val(rowname.split(' ')[0]);
        $("#input_mi").val(rowname.split(' ')[1]);
        $("#input_vehicle").val(rowvehicle);
        $("#input_dateofapprehension").val(rowdateofapprehension);
        $("#input_plateno").val(rowplatenumber);
        $("#select_Violation").val(rowviolation);

        $("#myModal_edit").modal("show");
    }
    function SaveEdit() {
        $("#myModal_edit").modal("hide");
        $("#myModal_reload").modal({ backdrop: 'static', keyboard: false }, 'show');
        $.ajax({
            type: "POST",
            url: "/Systems/proc_update_impounded_vehicle",
            dataType: "text",
            data: JSON.stringify({
                "name": $("#input_fname").val() + ' ' + $("#input_mi").val() + ' ' + $("#input_lname").val(),
                "vehicle": $("#input_vehicle").val(),
                "dateofapprehension": $("#input_dateofapprehension").val(),
                "platenumber": $("#input_plateno").val(),
                "violationid": $("#select_Violation").val(),
                "editid": $("#input_editid").val(),
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);
                gritter("Success", "Successfully Cleared");

                $('#tbl_clear tbody').html("");
                updateGrid();
            },
            error: function (textStatus, errorThrown) {
                gritter("Error", "Error processing the request.");
            }
        });
    }
    function ClearBtnOnclick(btn) {
        var target_row = $(btn).closest('tr');
        var rowid = target_row.attr('id'),
            rowname = target_row.find('td.Name').text(),
            rowviolation = target_row.find('td.Violation').text(),
            rowoplatenumber = target_row.find('td.PlateNumber').text(),
            rowvehicletype = target_row.find('td.VehicleType').text(),
            rowdateofapprehension = target_row.find('td.DateOfApprehension').text();
        $("#input_id").val(rowid);
        $("#tbl_clear tbody").html("");
        $("#tbl_clear tbody").append(
            `<tr><td>Name: </td><td>` + rowname + `</td></tr>
            <tr><td>Violation: </td><td>`+ rowviolation + `</td></tr>
            <tr><td>Plate No.: </td><td>`+ rowoplatenumber + `</td></tr>
            <tr><td>Vihicle Type: </td><td>`+ rowvehicletype + `</td></tr>
            <tr><td>Date Of Apprehension: </td><td>`+ rowdateofapprehension + `</td></tr>`
        )
        $("#myModal_clear").modal("show");
        //updateGrid();
    }
    function ClearRecord() {
        $("#myModal_clear").modal("hide");
        $("#myModal_reload").modal({ backdrop: 'static', keyboard: false }, 'show');
        var tid = $("#input_id").val();
        var clearedby = $("#userName").html();
        $.ajax({
            type: "POST",
            url: "/Systems/proc_clear_citation",
            dataType: "text",
            data: JSON.stringify({
                "tid": tid,
                "clearedby": clearedby
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);
                gritter("Success", "Successfully Cleared");

                $('#tbl_clear tbody').html("");
                updateGrid();
            },
            error: function (textStatus, errorThrown) {
                gritter("Error", "Error processing the request.");
            }
        });
    }
    function btn_delete(btn) {
        var target_row = $(btn).closest('tr');
        var rowid = target_row.attr('id'),
            rowname = target_row.find('td.Name').text(),
            rowviolation = target_row.find('td.Violation').text(),
            rowvehicle = target_row.find('td.VehicleType').text(),
            rowplatenumber = target_row.find('td.PlateNumber').text();
        $("#input_id").val(rowid);
        $("#tbl_delete tbody").html("");
        $("#tbl_delete tbody").append(
            `<tr><td>Name: </td><td>` + rowname + `</td></tr>
            <tr><td>Violation: </td><td>`+ rowviolation + `</td></tr>
            <tr><td>Vehicle Type: </td><td>`+ rowvehicle + `</td></tr>
            <tr><td>Plate No.: </td><td>`+ rowplatenumber + `</td></tr>`
        )

        $("#myModal_delete").modal("show");
    }
    function proceeddelete() {
        $("#myModal_delete").modal("hide");
        //$("#myModal_reload").modal({ backdrop: 'static', keyboard: false }, 'show');
        $.ajax({
            type: "POST",
            url: "/Systems/delete_citation",
            dataType: "text",
            data: JSON.stringify({
                "id": $("#input_id").val()
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);
                $("#myModal_reload").modal('hide');
                if (data == "SUCCESS") {
                    gritter("Success", "Successfully Deleted");

                    $('#tbl_apprehention tbody').html("");

                    updateGrid();

                }
            },
            error: function (textStatus, errorThrown) {
                gritter("Error", "Error processing the request.");
            }
        });
    }

    function onfiltertype_change() {
        $("#div_filter div.filters").css("display", "none");
        $("#div_filter div#div_" + $("#select_filtertype").val()).css("display", "");
        //alert("#div_filter div#" + $("#select_filtertype").val())
        //alert($("#select_filtertype").val())
    }
    function monthlydropdown() {
        $.ajax({
            type: "POST",
            url: "/Systems/proc_get_monthly_report",
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);

                var Json_Data = JSON.parse(data);

                for (var i = 0; i < Json_Data.length; i++) {
                    var optionText = Json_Data[i]["month-words"];
                    var optionValue = Json_Data[i]["year-month"];
                    $('#select_month').append(`<option value="${optionValue}">
                                       ${optionText}
                                  </option>`);
                }

            },
            error: function (textStatus, errorThrown) {
                // Success = false;//doesn't go here
                gritter("Error", "Error processing the request.");
            }
        });
    }

    function weeklydropdown() {
        $.ajax({
            type: "POST",
            url: "/Systems/proc_get_weekly_report",
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);
                var Json_Data = JSON.parse(data);

                for (var i = 0; i < Json_Data.length; i++) {
                    var optionText = Json_Data[i]["Week"];
                    var optionValue = Json_Data[i]["Week"];
                    $('#select_week').append(`<option value="${optionValue}">
                                       ${optionText}
                                  </option>`);
                }

            },
            error: function (textStatus, errorThrown) {
                // Success = false;//doesn't go here
                gritter("Error", "Error processing the request.");
            }
        });
    }

    function yearlydropdown() {
        $.ajax({
            type: "POST",
            url: "/Systems/proc_get_yearly_report",
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                data = someerm(data);
                var Json_Data = JSON.parse(data);

                for (var i = 0; i < Json_Data.length; i++) {
                    var optionText = Json_Data[i]["year"];
                    var optionValue = Json_Data[i]["year"];
                    $('#select_year').append(`<option value="${optionValue}">
                                       ${optionText}
                                  </option>`);
                }

            },
            error: function (textStatus, errorThrown) {
                // Success = false;//doesn't go here
                gritter("Error", "Error processing the request.");
            }
        });
    }
    function filterOnclick() {
        updateGrid();
    }
</script>



