USE [master]
GO
/****** Object:  Database [CAPSTONEDB]    Script Date: 16/12/2022 11:38:48 am ******/
CREATE DATABASE [CAPSTONEDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAPSTONEDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CAPSTONEDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAPSTONEDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CAPSTONEDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAPSTONEDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAPSTONEDB]
GO
/****** Object:  Table [dbo].[tblAccounts]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccounts](
	[acntid] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nvarchar](50) NULL,
	[mname] [nvarchar](50) NULL,
	[lname] [nvarchar](50) NULL,
	[uid] [uniqueidentifier] NULL,
	[acnttype] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[latitude] [nvarchar](50) NULL,
	[longetude] [nvarchar](50) NULL,
	[locdatetime] [datetime] NULL,
 CONSTRAINT [PK_tblAccounts] PRIMARY KEY CLUSTERED 
(
	[acntid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCompound]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCompound](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[Compound] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCompound] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmenu]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](50) NULL,
	[acnttype] [nvarchar](50) NULL,
	[action] [nvarchar](50) NULL,
	[controller] [nvarchar](50) NULL,
	[icon] [nvarchar](50) NULL,
	[tagid] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblmenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblticketcitation]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblticketcitation](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nvarchar](50) NULL,
	[address] [nvarchar](150) NULL,
	[licenseno] [nvarchar](50) NULL,
	[birthdate] [datetime] NULL,
	[dateofapprehension] [datetime] NULL,
	[placeofviolation] [nvarchar](250) NULL,
	[violationid] [int] NULL,
	[vehicletype] [nvarchar](50) NULL,
	[classification] [nvarchar](50) NULL,
	[plateno] [nvarchar](50) NULL,
	[isDeleted] [int] NULL,
	[ddate] [datetime] NULL,
	[isSettled] [int] NULL,
	[sdate] [datetime] NULL,
	[clearedby] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblticketcitation] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblviolation]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblviolation](
	[vid] [int] IDENTITY(1,1) NOT NULL,
	[vdesc] [nvarchar](50) NULL,
	[vamount] [decimal](10, 2) NULL,
	[vuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tblviolation] PRIMARY KEY CLUSTERED 
(
	[vid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAccounts] ON 

INSERT [dbo].[tblAccounts] ([acntid], [fname], [mname], [lname], [uid], [acnttype], [username], [password], [latitude], [longetude], [locdatetime]) VALUES (13, N'Cesar', N'D', N'De Leon', N'6ea4806b-98d7-47a9-b3b5-955d3bfbbf2b', N'ADMIN', N'Admin', N'Admin', NULL, NULL, NULL)
INSERT [dbo].[tblAccounts] ([acntid], [fname], [mname], [lname], [uid], [acnttype], [username], [password], [latitude], [longetude], [locdatetime]) VALUES (14, N'enforcer', N'enforcer', N'enforcer', N'd783eb1a-4d97-4e34-aa26-b4b34186d701', N'TENFORCER', N'enforcer', N'enforcer', N'14.0743809', N'121.1471402', CAST(N'2022-12-08T03:29:22.000' AS DateTime))
INSERT [dbo].[tblAccounts] ([acntid], [fname], [mname], [lname], [uid], [acnttype], [username], [password], [latitude], [longetude], [locdatetime]) VALUES (15, N'Erwin', N'F.', N'Montealto', N'bd4167ac-9e92-4c7d-a43d-7ff560ca153d', N'TENFORCER', N'EnforcerErwin', N'erwinenforcer', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCompound] ON 

INSERT [dbo].[tblCompound] ([cid], [Compound]) VALUES (1, N'Altura Bata')
INSERT [dbo].[tblCompound] ([cid], [Compound]) VALUES (2, N'Altura Matanda')
INSERT [dbo].[tblCompound] ([cid], [Compound]) VALUES (3, N'Altura-South')
SET IDENTITY_INSERT [dbo].[tblCompound] OFF
GO
SET IDENTITY_INSERT [dbo].[tblmenu] ON 

INSERT [dbo].[tblmenu] ([id], [Text], [acnttype], [action], [controller], [icon], [tagid]) VALUES (1, N'Dashboard', N'ADMIN', N'Dashboard', N'Systems', N'fa-dashboard', N'tg-dashboard')
INSERT [dbo].[tblmenu] ([id], [Text], [acnttype], [action], [controller], [icon], [tagid]) VALUES (2, N'Reports', N'ADMIN', N'Reports', N'Systems', N'fa-list-alt', N'tg-reports')
INSERT [dbo].[tblmenu] ([id], [Text], [acnttype], [action], [controller], [icon], [tagid]) VALUES (6, N'Apprehension Reports', N'TENFORCER', N'Enforcer_Apprehension_Report', N'Systems', N'fa-truck', N'tg-apprehensions')
SET IDENTITY_INSERT [dbo].[tblmenu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblticketcitation] ON 

INSERT [dbo].[tblticketcitation] ([tid], [fname], [address], [licenseno], [birthdate], [dateofapprehension], [placeofviolation], [violationid], [vehicletype], [classification], [plateno], [isDeleted], [ddate], [isSettled], [sdate], [clearedby]) VALUES (1, N'Jomiel L. Enriquez', N'Test TEST  Test', N'Test 123', CAST(N'2022-11-02T00:00:00.000' AS DateTime), CAST(N'2022-11-02T00:00:00.000' AS DateTime), N'Test', 11, N'Test', N'Private', N'Test Plate', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblticketcitation] ([tid], [fname], [address], [licenseno], [birthdate], [dateofapprehension], [placeofviolation], [violationid], [vehicletype], [classification], [plateno], [isDeleted], [ddate], [isSettled], [sdate], [clearedby]) VALUES (4, N'NICOLE M. MAGSINO', N'322 SAN JUAN STO.TOMAS', N'123456-D', CAST(N'2022-10-14T00:00:00.000' AS DateTime), CAST(N'2022-10-14T00:00:00.000' AS DateTime), N'Patton''s', 25, N'SUV', N'private', N'DDD-1234', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblticketcitation] ([tid], [fname], [address], [licenseno], [birthdate], [dateofapprehension], [placeofviolation], [violationid], [vehicletype], [classification], [plateno], [isDeleted], [ddate], [isSettled], [sdate], [clearedby]) VALUES (5, N'ERUEL F. MONTEALTO', N'336 TRAPICHE 2 TANAUAN', N'123456', CAST(N'2022-10-14T00:00:00.000' AS DateTime), CAST(N'2022-10-14T00:00:00.000' AS DateTime), N'Palengke', 19, N'MIO SPORTY', N'private', N'FFF-1234', NULL, NULL, 1, CAST(N'2022-12-05T14:36:55.827' AS DateTime), N'Christine Joy  Orense')
SET IDENTITY_INSERT [dbo].[tblticketcitation] OFF
GO
SET IDENTITY_INSERT [dbo].[tblviolation] ON 

INSERT [dbo].[tblviolation] ([vid], [vdesc], [vamount], [vuid]) VALUES (1, N'TRUCK BAN', CAST(500.00 AS Decimal(10, 2)), N'8c4a1c1e-db53-497f-be8e-a3af3dc48b5b')
INSERT [dbo].[tblviolation] ([vid], [vdesc], [vamount], [vuid]) VALUES (2, N'STALLED VEHICLE', CAST(300.00 AS Decimal(10, 2)), N'26f4629d-88dd-4749-99e7-d6f51ea84f5c')
INSERT [dbo].[tblviolation] ([vid], [vdesc], [vamount], [vuid]) VALUES (3, N'ILLEGAL PARKING / ILLEGAL TERMINAL', CAST(300.00 AS Decimal(10, 2)), N'5cd0c331-df3d-4abc-b571-1d9b3d891c67')
SET IDENTITY_INSERT [dbo].[tblviolation] OFF
GO
/****** Object:  StoredProcedure [dbo].[proc_clear_citation]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_clear_citation]
	@tid INT,
	@clearedby nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	update tblticketcitation set isSettled=1, sdate=GETDATE(), clearedby=@clearedby where tid= @tid;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_delete_citation]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_delete_citation] 
	@id int	
AS
BEGIN

	update tblticketcitation set isDeleted=1, ddate = getdate() where tid=@id;
	

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_all_enforcer_account]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_all_enforcer_account]
	
AS
BEGIN
	SET NOCOUNT ON;

	select fname + ' ' + lname fullname, * from tblaccounts where acnttype = 'TENFORCER'


END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_daily_report]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_get_daily_report]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
	   dateofapprehension,
	   count(*) as Record
	   from tblticketcitation
	   group by dateofapprehension

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_monthly_report]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_get_monthly_report]
AS
BEGIN
	SET NOCOUNT ON;
	
	select DATEADD(MONTH, DATEDIFF(MONTH, 0, dateofapprehension), 0) [year-month], datename(month,dateofapprehension) [month-words], count(*) [count] from tblticketcitation
	group by DATEADD(MONTH, DATEDIFF(MONTH, 0, dateofapprehension), 0), datename(month,dateofapprehension)
	order by DATEADD(MONTH, DATEDIFF(MONTH, 0, dateofapprehension), 0)

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_pda_location]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_pda_location]
AS
BEGIN
	SET NOCOUNT ON;

	select * from tblAccounts where latitude is not null and longetude is not null and locdatetime is not null;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_setteled_apprehensions]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_setteled_apprehensions] 
	
AS
BEGIN
	SET NOCOUNT ON;

	select 
		fname,
		address, 
		licenseno, 
		plateno, 
		case when COUNT(*)=1 then '<span class="label" style="background-color:#f25e5e">1st Offense</span>'
			when COUNT(*)=2 then '<span class="label" style="background-color:#f04f4f">2nd Offense</span>'
			when COUNT(*)=3 then '<span class="label" style="background-color:#d92929">3rd Offense</span>'
			else '<span class="label" style="background-color:#a31010">More than 3</span>'
		end Offenses,
		isSettled
		from tblticketcitation 
	where isSettled=1 and isDeleted is null
	group by fname,address, licenseno, plateno,isSettled;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_statistics]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_get_statistics]
AS
BEGIN
	SET NOCOUNT ON;

	select v.vdesc trafficviolation,vamount finesofviolation, count(*) violationtotalnumber from tblticketcitation t
		left join tblviolation v on v.vid=t.violationid where t.isDeleted is null group by v.vdesc, v.vamount

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_total_violators]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_total_violators]
	
AS
BEGIN
	SET NOCOUNT ON;

    Select 
		concat(
			'A total of ',
			count(*),
			' from ',
			(select top 1 convert(nvarchar, dateofapprehension, 107) from tblticketcitation where isDeleted is null order by dateofapprehension),
			', until the present.'
		) as [return]
	from tblticketcitation where isDeleted is null;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_total_violators_list]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_total_violators_list]
AS
BEGIN
	SET NOCOUNT ON;
	
	Select 
		t.*,v.vdesc
	from tblticketcitation t
	left join tblviolation v on t.violationid=v.vid 
	where t.isDeleted is null;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_total_violators_today]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_total_violators_today]
AS
BEGIN
	SET NOCOUNT ON;

	Select 
		concat(
			count(*),
			' citations overall from today.'
		) as [return]
	from tblticketcitation where dateofapprehension between dateadd(day,datediff(day,0,GETDATE()),0) and dateadd(day,datediff(day,-1,GETDATE()),0) and isDeleted is null;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_total_violators_today_list]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[proc_get_total_violators_today_list]
AS
BEGIN
	SET NOCOUNT ON;

	Select t.*,v.vdesc
	from tblticketcitation t 
	left join tblviolation v on t.violationid = v.vid 
	where t.dateofapprehension between dateadd(day,datediff(day,0,GETDATE()),0) and dateadd(day,datediff(day,-1,GETDATE()),0) and t.isDeleted is null;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_violation]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_violation]
	
AS
BEGIN
	SET NOCOUNT ON;

    select * from tblviolation;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_get_weekly_report]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_get_weekly_report]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
   CONVERT(varchar(50), (DATEADD(dd, @@DATEFIRST - DATEPART(dw, dateofapprehension) - 6, dateofapprehension)), 101) + ' - ' +
   CONVERT(varchar(50), (DATEADD(dd, @@DATEFIRST - DATEPART(dw, dateofapprehension), dateofapprehension)), 101) as [Week],

   count(*) as Record
   from tblticketcitation
   group by 
   CONVERT(varchar(50), (DATEADD(dd, @@DATEFIRST - DATEPART(dw, dateofapprehension) - 6, dateofapprehension)), 101) + ' - ' +
   CONVERT(varchar(50), (DATEADD(dd, @@DATEFIRST - DATEPART(dw, dateofapprehension), dateofapprehension)), 101)

END
GO
/****** Object:  StoredProcedure [dbo].[proc_insert_citation]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_insert_citation] 
			@fname nvarchar(50),
            @address nvarchar(150),
            @licneseno nvarchar(50),
            @birthdate nvarchar(50),
            @dateofapprehension nvarchar(50),
            @placeofviolation nvarchar(250),
            @violationid int,
            @vehicletype nvarchar(50),
            @classification nvarchar(50),
            @plateno nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

    select * from tblticketcitation where isDeleted is null;

	insert into tblticketcitation (
		fname,
		[address],
		licenseno,
		birthdate,
		dateofapprehension,
		placeofviolation,
		violationid,
		vehicletype,
		[classification],
		plateno
	)
	values(
		@fname,
        @address,
        @licneseno,
        @birthdate,
        @dateofapprehension,
        @placeofviolation,
        @violationid,
        @vehicletype,
        @classification,
        @plateno
	)

END
GO
/****** Object:  StoredProcedure [dbo].[proc_insert_ticketcitation]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_insert_ticketcitation]
	@tid int,
	@fname nvarchar(50),
	@address nvarchar(150),
	@licenseno nvarchar(50),
	@vehicletype nvarchar(50),
	@placeofviolation nvarchar(250),
	@violationid int
AS
BEGIN
	SET NOCOUNT ON;

	select * from tblticketcitation where isDeleted is null;

	update tblticketcitation set
		fname=@fname,
		[address]=@address,
		[licenseno]=@licenseno,
		[vehicletype]=@vehicletype,
		[placeofviolation]=@placeofviolation,
		[violationid]=@violationid
	where tid=@tid

END
GO
/****** Object:  StoredProcedure [dbo].[proc_update_account]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_update_account]
	@acntid int,
	@fname nvarchar(50),
	@mname nvarchar(50),
	@lname nvarchar(50),
	@username nvarchar(50),
	@password nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	update tblAccounts set fname=@fname, mname=@mname, lname=@lname, username=@username, password=@password where acntid=@acntid;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_update_confiscated]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_update_confiscated]
	@name nvarchar(50),
	@licenseno nvarchar(50),
	@dateofapprehension datetime,
	@platenumber nvarchar(50),
	@violationid int,
	@editid int
AS
BEGIN
	SET NOCOUNT ON;
	
	update tblticketcitation 
	set 
		fname=@name, 
		licenseno=@licenseno, 
		dateofapprehension=@dateofapprehension ,
		plateno=@platenumber,
		violationid=@violationid
	where tid = @editid

END
GO
/****** Object:  StoredProcedure [dbo].[proc_update_confiscated_clerk]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_update_confiscated_clerk]
	@name nvarchar(50),
	@licenseno nvarchar(50),
	@dateofapprehension datetime,
	@platenumber nvarchar(50),
	@violationid int,
	@editid int
AS
BEGIN
	SET NOCOUNT ON;
	
	update tblticketcitation 
	set 
		fname=@name, 
		licenseno=@licenseno, 
		dateofapprehension=@dateofapprehension ,
		plateno=@platenumber,
		violationid=@violationid
	where tid = @editid

END
GO
/****** Object:  StoredProcedure [dbo].[proc_update_impounded_vehicle]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_update_impounded_vehicle]
	@name nvarchar(50),
	--@licenseno nvarchar(50),
	@dateofapprehension datetime,
	@vehicle nvarchar(50),
	@violationid int,
	@editid int
AS
BEGIN
	SET NOCOUNT ON;
	
	update tblticketcitation 
	set 
		fname=@name, 
		--licenseno=@licenseno, 
		dateofapprehension=@dateofapprehension ,
		vehicletype=@vehicle,
		violationid=@violationid
	where tid = @editid

END
GO
/****** Object:  StoredProcedure [dbo].[proc_update_user_location]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_update_user_location]
	@uid nvarchar(50),
	@lat nvarchar(50),
	@long nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	update tblAccounts set latitude=null, longetude= null, locdatetime = null;

	update tblAccounts set latitude=@lat, longetude= @long, locdatetime = GETDATE() where uid=@uid;

END
GO
/****** Object:  StoredProcedure [dbo].[prop_get_compound]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[prop_get_compound]
AS
BEGIN
	SET NOCOUNT ON;

	select * from tblCompound;
	
END
GO
/****** Object:  StoredProcedure [dbo].[prop_get_confiscated_license]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_get_confiscated_license]
	
AS
BEGIN
	SET NOCOUNT ON;
	
	select 
		c.tid,
		c.fname,
		v.vdesc violation, 
		c.plateno,
		c.licenseno, 
		c.dateofapprehension, 
		c.vehicletype, 
		c.isSettled, 
		v.vid,
		case when convert(date, getdate()) = convert(date,c.dateofapprehension) then '<span class="label label-warning">New Pending</span>' 
			else '<span class="label label-danger">Pending</span>'
		end PendingStatus
	from tblticketcitation c
	left join tblviolation v on c.violationid=v.vid
	where isDeleted is null
	order by dateofapprehension desc;

END
GO
/****** Object:  StoredProcedure [dbo].[prop_get_current_user]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_get_current_user]
	@acntuid varchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	select fname + '  '+ lname as fullname, acnttype,uid from tblAccounts where uid=cast(@acntuid as uniqueidentifier); 

END
GO
/****** Object:  StoredProcedure [dbo].[prop_get_daily_report]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_get_daily_report]
	
AS
BEGIN
	SET NOCOUNT ON;
	
	select c.tid,c.fname,c.address,c.licenseno, c.vehicletype,c.placeofviolation,v.vdesc,c.violationid from tblticketcitation c
		left join tblviolation v on c.violationid=v.vid where c.dateofapprehension between dateadd(day,datediff(day,0,GETDATE()),0) and dateadd(day,datediff(day,-1,GETDATE()),0) and c.isDeleted is null;

END
GO
/****** Object:  StoredProcedure [dbo].[prop_get_menu]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_get_menu]
	@acnttype nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	select Text,icon,tagid,action,controller from tblmenu where acnttype=@acnttype;

END
GO
/****** Object:  StoredProcedure [dbo].[prop_get_record_by_plateno]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_get_record_by_plateno] 
	@platenumber nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	select c.*, v.vdesc from tblticketcitation c
	left join tblviolation v on c.violationid= v.vid
	where upper(plateno) like upper(@platenumber)
	
END
GO
/****** Object:  StoredProcedure [dbo].[prop_get_report]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_get_report]
	
AS
BEGIN
	SET NOCOUNT ON;
	
	select c.tid,c.fname,c.address,c.licenseno, c.vehicletype,c.placeofviolation,v.vdesc,c.violationid from tblticketcitation c
		left join tblviolation v on c.violationid=v.vid where c.isDeleted is null;

END
GO
/****** Object:  StoredProcedure [dbo].[prop_insert_account]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_insert_account] 
	@fname nvarchar(50),
	@mname nvarchar(50),
	@lname nvarchar(50),
	@username nvarchar(50),
	@password nvarchar(50),
	@acnttype nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	insert into tblAccounts(
		fname,
		mname,
		lname,
		username,
		[password],
		acnttype,
		[uid]
	)
	values(
		upper(@fname),
		upper(@mname),
		upper(@lname),
		@username,
		@password,
		@acnttype,
		newid()
	)
	
END
GO
/****** Object:  StoredProcedure [dbo].[prop_login_user]    Script Date: 16/12/2022 11:38:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prop_login_user]
	@username nvarchar(50),
	@password nvarchar(50),
	@acnttype nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	select * from tblAccounts where username =@username and password =@password and acnttype=@acnttype;

END
GO
USE [master]
GO
